<div ng-controller="home">
  <header class="row">
    <section class="header">
    <div class="col-md-1">
    </div>
    <div class="col-md-11">
      <div class="row">
        <div class="col-md-3">
          <select class="dropdown">
            <option>Country</option>
          </select>
          <button><div class="glyphicon glyphicon-asterisk"></div></button>
        </div>
        <div class="col-md-3">
          <div>Starting Pages</div>
          <div>354K Sessions, 158K drop-offs</div>
        </div>
        <div class="col-md-3">
        <div>1st Interaction</div>
        <div>196k Sessions, 55k drop-offs</div>
          
        </div>
        <div class="col-md-3">
        <div>2nd Interaction</div>
        <div>142k Sessions, 43k drop-offs</div>
        </div>
      </div>
    </div>
    </section>
  </header>
  <section class="row">
    <div class="col-md-1">
      <img class="image" src="images/zoomer.png" />
    </div>
    <div class="col-md-11">
      <div class="col-md-3">

      <ul class="box-type-1"><li>Ireland</li>
        <ul><li>300K</li></ul>
        </ul>
         <ul><li>United Kingdom</li>
        <ul><li>2.7K</li></ul>
        </ul>

         <ul><li>United States</li>
        <ul><li>842K</li></ul>
        </ul>

         <ul><li>Spain</li>
        <ul><li>782K</li></ul>
        </ul>
        
      </div>
      <div class="col-md-3">
        <div class="box-type-2">
          <div class="col-md-2"><div class="glyphicon glyphicon-folder-open"></div></div>
          <div class="col-md-10"><div>/</div><div>149K</div></div>
        </div>
        <div class="box-type-2">
          <div class="col-md-2"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="col-md-10"><div>/elveys/en..ball/boots</div><div>19K</div></div>
        </div>
        <div class="box-type-2">
          <div class="col-md-2"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="col-md-10"><div>/elveys/en..ent/c/3051</div><div>14K</div></div>
        </div>
        <div class="box-type-2">
          <div class="col-md-2"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="col-md-10"><div>/elveys/en</div><div>13K</div></div>
        </div>
        <div class="box-type-2">
          <div class="col-md-2"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="col-md-10"><div>/elveys/en..ewyearsale</div><div>13K</div></div>
        </div>
      </div>

      <div class="col-md-3">
      <div class="box-type-2">
          <div class="col-md-2"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="col-md-10"><div>/</div><div>149K</div></div>
        </div>
        <div class="box-type-2">
          <div class="col-md-2"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="col-md-10"><div>/</div><div>149K</div></div>
        </div>
        <div class="box-type-2">
          <div class="col-md-2"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="col-md-10"><div>/</div><div>149K</div></div>
        </div>
      
      </div>
      <div class="col-md-3">
      <div class="box-type-2">
          <div class="col-md-2"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="col-md-10"><div>/</div><div>149K</div></div>
        </div>
        <div class="box-type-2">
          <div class="col-md-2"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="col-md-10"><div>/</div><div>149K</div></div>
        </div>
        <div class="box-type-2">
          <div class="col-md-2"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="col-md-10"><div>/</div><div>149K</div></div>
        </div>
    
      </div>
  </div>
</section>
</div>