
<div class="row">
<section class="taps">
  <div class="col-md-6">
  Pingdom & Google analystics: Sessions Vs Response Time

  </div>
  <div class="col-md-6"><p>Pingdoms Checks</p>
  <div class="col-md-3"><h1>8</h1><label>Checks</label></div>
<div class="col-md-3"><h1>8</h1><label>Up</label></div>
<div class="col-md-3"><h1>0</h1><label>Down</label></div>
<div class="col-md-3"><h1>0</h1><label>Pause</label></div>

  </div>



  
  <div class="col-md-6">Pingdom & Google analystics: Site Speed</div>
  <div class="col-md-6">Pingdoms Checks</div>
  <div class="col-md-6">Pingdom Hourly Average Response Time (7 Days)</div>
  <div class="col-md-6">Pingdom Check Summary (30 Days)</div>
  <div class="col-md-6">Pingdom & Google Analytics: Load Time vs Response Time</div>
  <div class="col-md-6">Pingdom & New Relic: Average Response Time</div>
</section>
</div>
